.descriptionContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: 3rem 0 0 0;
  img {
    display: block;
    width: 100%;
  }
}
.container {
  img {
    display: block;
  }
}




