@import url("fonts/stylesheet.css");
:root {
  font-size: 0.625em;
}
* {
  font-family:'TacticSans-Med', Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
@media (max-width: 992px) and (min-width: 500px) {
  :root {
    font-size: 0.5em;
  }
}
@media (max-width: 500px) {
  :root {
    font-size: 0.38em;
  }
}
